:root {
    --SOFT-BLUE: hsl(231, 69%, 60%);
    --SOFT-RED: hsl(0, 94%, 66%);
    --GRAYISH-BLUE: hsl(229, 8%, 60%);
    --VERY-DARK-BLUE: hsl(229, 31%, 21%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    list-style-type: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .6rem .9rem;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    margin-right: 2rem;
    color: #2e2c65;
    font-size: .7rem;
    font-weight: 600;
}

header ul li a:hover {
    color: var(--SOFT-RED);
}

.btn {
    padding: .5rem 1.5rem;
    background: var(--SOFT-RED);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--GRAYISH-BLUE);
}

.btn:hover {
    color: var(--SOFT-RED);
    border: 2px solid var(--SOFT-RED);
    background: white;
    transition: .3s background ease-out;
}

.hero div h1 {
    color: var(--VERY-DARK-BLUE);
    font-size: 2.5rem;
}

.hero {
    display: flex;
    align-items: center;

    margin: 2rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left p {
    color: var(--GRAYISH-BLUE);
}

.left div button {
    text-decoration: none;
    padding: .7rem 1.5rem;
    border-radius: 5px;
}

.chrome {
    color: white;
    background: var(--SOFT-BLUE);
    border: 1px solid var(--SOFT-BLUE);
    box-shadow: 1px 1px 4px var(--GRAYISH-BLUE);
    margin-right: .5rem;
}

.firefox {
    background: hsla(229, 8%, 60%, 0.16);
    box-shadow: 1px 1px 4px var(--GRAYISH-BLUE);
    border: 1px solid hsla(229, 8%, 60%, 0.16);
    color: var(--VERY-DARK-BLUE);
    margin-left: .5rem;
}

img[alt="illustration-hero"] {
    position: relative;
    height: 400px;
}

.banner {
    height: 300px;
    width: 500px;
    position: absolute;
    background: var(--SOFT-BLUE);
    right: 0;
    margin-top: -300px;
    z-index: -99;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
}

img[alt="tab1"] {
    height: 400px;
    position: relative;
}

.img-after::after {
    content: "";
    position: absolute;
    background: var(--SOFT-BLUE);
    display: flex;
    z-index: -1;
    height: 250px;
    width: 450px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    margin-top: -200px;
    left: 0;

}


.features {
    text-align: center;
    display: flex;
    justify-content: center;
}

.features h1 {
    font-size: 1.5rem;
    color: var(--VERY-DARK-BLUE);
}

.features p {
    color: var(--GRAYISH-BLUE);
}

.features div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.ul {
    display: flex;
    justify-content: center;
}

section ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 1.3rem;
    width: 70%;
    position: relative;
}

section ul::after {
    position: absolute;
    border-bottom: 1px solid var(--GRAYISH-BLUE);
    content: "";
    width: 100%;
    bottom: 0;
}

section ul li {
    margin-right: 1rem;
    color: var(--GRAYISH-BLUE);
    font-weight: 700;
}

.list-section {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

#info {
    padding: .9rem 1.2rem;
    border-radius: 5px;
}

.info-section {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.info-section>section+section {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info-section>section+section h1 {
    font-size: 2.2rem;
    color: var(--VERY-DARK-BLUE);
}

.info-section>section+section p {
    color: var(--GRAYISH-BLUE);
}

.download-section {
    text-align: center;
    margin: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.text-box {
    width: 50%;
}

.text-box h1 {
    font-size: 2.5rem;
    color: var(--VERY-DARK-BLUE);
}

.text-box p {
    color: var(--GRAYISH-BLUE);
    margin: 1rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

#card {
    height: 25rem;
    width: 16rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px var(--GRAYISH-BLUE);
    background: url('./images/bg-dots.svg');
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#card button {
    padding: .8rem 1.2rem;
    background: var(--SOFT-BLUE);
    color: hsl(240, 4%, 95%);
    border: 1px solid var(--SOFT-BLUE);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--SOFT-BLUE);
}

#card button:hover {
    background: hsl(240, 4%, 95%);
    border: 2px solid var(--SOFT-BLUE);
    color: var(--SOFT-BLUE);
    cursor: pointer;
    transition: .3s background ease-in;
}

#card:nth-child(2) {
    margin-top: 6rem;
}

#card:nth-child(3) {
    margin-top: 11rem;
}

.cards .card img {
    height: 8rem;
    width: 8rem;
}

.cards .card button {
    display: flex;
    justify-content: end;
    align-items: end;
}

.questions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questions h2 {
    font-size: 2rem;
    color: var(--VERY-DARK-BLUE);
}

.questions p {
    color: var(--GRAYISH-BLUE);
    margin: 1rem;
}

.toggle p {
    width: 70%;
    color: var(--VERY-DARK-BLUE);
    font-weight: 600;
    font-size: 1.2rem;
}

.toggles {
    width: 100%;
}

.toggle hr {
    opacity: 0.5;
}

.toggle p {
    text-align: left;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.sec-container button {
    margin: 2rem;
}